body{
    background-color: rgb(51, 120, 117);
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    justify-content: space-around;
    text-align: center;
    color: rgb(26, 33, 31);
}